@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden ;
}

:root [data-theme='skeleton'] {
    --theme-font-family-base: 'MyCustomFont', ui-serif;
    --theme-font-family-heading: 'MyCustomFont', ui-serif;
}

